<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="hero-unit">
  <div class="field">
    <%#= f.label :name %><br>
    <%= f.text_field :name ,:placeholder=>"Album Name"%>
  </div>
  <div class="field">
    <%#= f.label :description %><br>
    <%= f.text_area :description ,:placeholder=>"Description" %>
  </div>
  <div class="field">
    <%#= f.label :location %><br>
    <%= f.text_field :location ,:placeholder=>"Where was it taken"%>
  </div>
  <div class="field">
    <%#= f.label :privacy %><br>
    <%= f.text_field :privacy ,:placeholder=>"Restricted to"%>
    
  </div>
  <div class="modal-footer" style="width:16%;">
    
    <%= link_to 'Back', albums_path,:class=>"btn" %>
    <%= f.submit :class=>"btn btn-primary"%>
  </div>
</div>

<% end %>

