
<div class="row" >
  <div class="col-xs-12 col-sm-6 col-md-8">
    <%=image_tag "fotoz-nara.png", :class=>"img-responsive", :alt=>"Responsive image"%>
    
    <div class="login-cover">
        <%=image_tag("my_photoz2.png")%><br/>
        <h3>Sign in</h3>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true, :placeholder =>"Email address" %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password, :placeholder =>"Password" %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" ,:class=>"btn btn-medium btn-primary"%></div>
          
        <% end %>

        <%= render "devise/shared/links" %>
       </div>
  </div>
  </div>
  <div class="col-xs-6 col-md-4">
    
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
</div>

